.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container label {
  color: black;
}

.login-container input {
  background-color: black;
  color: red;
  margin-bottom: 10px;
}

.login-container button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.app-container {
  text-align: center;
}

.navbar {
  background-color: black;
  padding: 20px;
  color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a,
.nav-links button {
  color: red;
  text-decoration: none;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.nav-links a:hover,
.nav-links button:hover {
  color: white;
}

button {
  color: red;
  background-color: black;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  color: white;
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-container label {
  color: black;
}

.signup-container input {
  background-color: black;
  color: red;
  margin-bottom: 10px;
}

.signup-container button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
